<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.9.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css"
    />

    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
    <script src="https://unpkg.com/axios@1.13.2/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>
  </head>
  <body>
    <div class="bg-gray-300 min-h-screen">
      <aside
        id="sidebar"
        class="bg-linear-to-r from-cyan-500 to-blue-500 h-full fixed top-0 left-0 overflow-hidden"
        style="width: 240px; transition: 0.3s"
      >
        <div class="flex flex-col items-center py-6 overflow-hidden">
          <img
            src="https://images.unsplash.com/photo-1773332585687-85beb4da71ab?q=80&w=1169&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt="avatr image"
            class="rounded-full w-25 h-25 border-2 border-white"
          />
          <h1 class="text-lg font-medium text-white" id="fullname"></h1>
          <p class="text-sm text-gray-100" id="email"></p>
        </div>
        <div class="px-6 flex flex-col gap-4">
          <a href="./dashboard">
            <button
              class="bg-rose-400 text-white py-2 w-full rounded hover:bg-rose-600"
            >
              <i class="ri-dashboard-line"></i>
              <label>Dashboard</label>
            </button>
          </a>
          <a href="./file.html">
            <button
              class="bg-rose-400 text-white py-2 w-full rounded hover:bg-rose-600"
            >
              <i class="ri-file-line"></i>
              <label>My Files</label>
            </button>
          </a>
          <a href="./history.html">
            <button
              class="bg-rose-400 text-white py-2 w-full rounded hover:bg-rose-600"
            >
              <i class="ri-history-line"></i>
              <label>History</label>
            </button>
          </a>
          <button
            class="bg-rose-400 text-white py-2 w-full rounded hover:bg-rose-600"
            onclick="logout()"
          >
            <i class="ri-logout-circle-r-line"></i>
            <label>Logout</label>
          </button>
        </div>
      </aside>
      <section
        id="section"
        class=""
        style="margin-left: 240px; transition: 0.3s"
      >
        <nav
          class="bg-white px-6 py-4 w-full shadow-lg flex justify-between items-center"
        >
          <div class="flex items-center gap-2">
            <i class="ri-contrast-2-fill text-4xl text-violet-600"></i>
            <h1 class="text-2xl font-medium">Filemoon</h1>
          </div>
          <div class="space-x-2">
            <button
              onclick="logout()"
              class="bg-gray-100 px-3 py-2 rounded hover:bg-gray-200"
            >
              <i class="ri-logout-circle-r-line"></i>
            </button>
            <button
              class="bg-gray-100 px-3 py-2 rounded hover:bg-gray-200"
              onclick="toggleSidebar()"
            >
              <i class="ri-menu-2-line"></i>
            </button>
          </div>
        </nav>
        <div class="p-6 space-y-4">
          <h1 class="text-lg font-medium">Dashboard</h1>
          <div class="grid grid-cols-4 gap-8">
            <div
              class="relative overflow-hidden bg-white rounded-lg shadow hover:shadow-lg h-40 flex flex-col justify-center items-center"
            >
              <h1 class="text-lg font-semibold text-gray-600">Videos</h1>
              <p class="text-4xl font-bold">25455</p>
              <div
                style="
                  background-image: linear-gradient(
                    to right,
                    #b8cbb8 0%,
                    #b8cbb8 0%,
                    #b465da 0%,
                    #cf6cc9 33%,
                    #ee609c 66%,
                    #ee609c 100%
                  );
                "
                class="flex justify-center items-center w-[100px] h-[100px] rounded-full absolute top-7.5 -left-4"
              >
                <i class="ri-live-line text-4xl text-white"></i>
              </div>
            </div>
            <div
              class="relative overflow-hidden bg-white rounded-lg shadow hover:shadow-lg h-40 flex flex-col justify-center items-center"
            >
              <h1 class="text-lg font-semibold text-gray-600">Audio</h1>
              <p class="text-4xl font-bold">20545</p>
              <div
                style="
                  background-image: linear-gradient(
                    to right,
                    #6a11cb 0%,
                    #2575fc 100%
                  );
                "
                class="flex justify-center items-center w-[100px] h-[100px] rounded-full absolute top-7.5 -left-4"
              >
                <i class="ri-folder-music-line text-4xl text-white"></i>
              </div>
            </div>
            <div
              class="relative overflow-hidden bg-white rounded-lg shadow hover:shadow-lg h-40 flex flex-col justify-center items-center"
            >
              <h1 class="text-lg font-semibold text-gray-600">PDF</h1>
              <p class="text-4xl font-bold">25455</p>
              <div
                style="
                  background-image: linear-gradient(
                    to right,
                    #f83600 0%,
                    #f9d423 100%
                  );
                "
                class="flex justify-center items-center w-[100px] h-[100px] rounded-full absolute top-7.5 -left-4"
              >
                <i class="ri-file-pdf-2-line text-4xl text-white"></i>
              </div>
            </div>
            <div
              class="relative overflow-hidden bg-white rounded-lg shadow hover:shadow-lg h-40 flex flex-col justify-center items-center"
            >
              <h1 class="text-lg font-semibold text-gray-600">Images</h1>
              <p class="text-4xl font-bold">669</p>
              <div
                style="
                  background-image: linear-gradient(
                    to right,
                    #92fe9d 0%,
                    #00c9ff 100%
                  );
                "
                class="flex justify-center items-center w-[100px] h-[100px] rounded-full absolute top-7.5 -left-4"
              >
                <i class="ri-file-image-line text-4xl text-white"></i>
              </div>
            </div>

            <div
              class="col-span-2 relative overflow-hidden bg-white rounded-lg shadow hover:shadow-lg p-6 space-y-4"
            >
              <h1 class="text-lg font-semibold text-gray-600">Recent Files</h1>
              <div class="space-y-3" id="recent-files"></div>
            </div>

            <div
              class="col-span-2 relative overflow-hidden bg-white rounded-lg shadow hover:shadow-lg p-6 space-y-4"
            >
              <h1 class="text-lg font-semibold text-gray-600">Recent Shered</h1>
              <div class="space-y-3">
                <div class="flex justify-between">
                  <div>
                    <h1 class="text-zinc-600 font-semibold capitalize">
                      filename
                    </h1>
                    <small class="text-gray-600 text-sm">Mb</small>
                  </div>
                  <p class="text-gray-600 text-sm">27 may 2026</p>
                </div>
                <div class="flex justify-between">
                  <div>
                    <h1 class="text-zinc-600 font-semibold capitalize">
                      filename
                    </h1>
                    <small class="text-gray-600 text-sm">Mb</small>
                  </div>
                  <p class="text-gray-600 text-sm">27 may 2026</p>
                </div>
                <div class="flex justify-between">
                  <div>
                    <h1 class="text-zinc-600 font-semibold capitalize">
                      filename
                    </h1>
                    <small class="text-gray-600 text-sm">Mb</small>
                  </div>
                  <p class="text-gray-600 text-sm">27 may 2026</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <script src="../js/session.js"></script>
    <script src="../js/dashboard.js"></script>
  </body>
</html>
