<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.9.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
    <script src="https://unpkg.com/axios@1.13.2/dist/axios.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script> -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </head>
  <body>
    <div class="bg-gray-300 min-h-screen">
      <aside
        id="sidebar"
        class="bg-linear-to-r from-cyan-500 to-blue-500 h-full fixed top-0 left-0 overflow-hidden"
        style="width: 240px; transition: 0.3s"
      >
        <div class="flex flex-col items-center py-6 overflow-hidden">
          <img
            src="https://images.unsplash.com/photo-1773332585687-85beb4da71ab?q=80&w=1169&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt="avatr image"
            class="rounded-full w-25 h-25 border-2 border-white"
          />
          <h1 class="text-lg font-medium text-white" id="fullname"></h1>
          <p class="text-sm text-gray-100" id="email"></p>
        </div>
        <div class="px-6 flex flex-col gap-4">
          <a href="./dashboard">
            <button
              class="bg-rose-400 text-white py-2 w-full rounded hover:bg-rose-600"
            >
              <i class="ri-dashboard-line"></i>
              <label>Dashboard</label>
            </button>
          </a>
          <a href="./files">
            <button
              class="bg-rose-400 text-white py-2 w-full rounded hover:bg-rose-600"
            >
              <i class="ri-file-line"></i>
              <label>My Files</label>
            </button>
          </a>
          <a href="./history">
            <button
              class="bg-rose-400 text-white py-2 w-full rounded hover:bg-rose-600"
            >
              <i class="ri-history-line"></i>
              <label>History</label>
            </button>
          </a>
          <button
            class="bg-rose-400 text-white py-2 w-full rounded hover:bg-rose-600"
            onclick="logout()"
          >
            <i class="ri-logout-circle-r-line"></i>
            <label>Logout</label>
          </button>
        </div>
      </aside>
      <section
        id="section"
        class=""
        style="margin-left: 240px; transition: 0.3s"
      >
        <nav
          class="bg-white px-6 py-4 w-full shadow-lg flex justify-between items-center"
        >
          <div class="flex items-center gap-2">
            <i class="ri-contrast-2-fill text-4xl text-violet-600"></i>
            <h1 class="text-2xl font-medium">Filemoon</h1>
          </div>
          <div class="space-x-2">
            <button
              class="bg-gray-100 px-3 py-2 rounded hover:bg-gray-200"
              onclick="logout()"
            >
              <i class="ri-logout-circle-r-line"></i>
            </button>
            <button
              class="bg-gray-100 px-3 py-2 rounded hover:bg-gray-200"
              onclick="sidebarToggle()"
            >
              <i class="ri-menu-2-line"></i>
            </button>
          </div>
        </nav>
        <div class="p-6 space-y-4">
          <div class="flex justify-between items-center">
            <h1 class="text-lg font-medium">My Files</h1>
            <button
              onclick="toggleDrawer()"
              class="bg-violet-500 text-white px-6 py-2 hover:bg-violet-600 rounded"
            >
              <i class="ri-add-line"></i>
              <label>Add File</label>
            </button>
          </div>
          <table class="w-full bg-white">
            <thead>
              <tr class="bg-slate-900 text-white text-left">
                <th class="font-medium py-4 pl-6">Filename</th>
                <th class="font-medium">Type</th>
                <th class="font-medium">Size</th>
                <th class="font-medium">Created</th>
                <th class="font-medium">Actions</th>
              </tr>
            </thead>
            <tbody id="files-table"></tbody>
          </table>
        </div>
      </section>
      <div
        id="drawer"
        class="fixed w-4/12 bg-white shadow-lg top-0 h-full p-6 space-y-6"
        style="right: -33.33%; transition: 0.3s"
      >
        <div class="flex justify-between items-center">
          <h1 class="text-lg text-gray-600 font-medium">Adding a new file</h1>
          <button onclick="toggleDrawer()">
            <i class="ri-close-circle-fill hover:text-rose-600 text-lg"></i>
          </button>
        </div>
        <div class="h-px bg-gray-200 -mx-6"></div>
        <form class="space-y-6" onsubmit="uploadFile(event)">
          <div class="flex flex-col gap-2">
            <label class="text-gray-600 font-medium">Filename</label>
            <input
              name="filename"
              placeholder="file name"
              required
              class="border border-gray-300 py-2 px-3 rounded"
              type="text"
            />
          </div>

          <div class="flex flex-col gap-2">
            <label class="text-gray-600 font-medium">Choose a file</label>
            <input
              name="file"
              required
              class="border border-gray-300 py-2 px-3 rounded"
              type="file"
            />
          </div>
          <button
            type="submit"
            id="upload-btn"
            class="bg-rose-400 hover:bg-rose-600 text-white py-2 px-6 rounded"
          >
            Upload now
          </button>
        </form>
        <div class="bg-gray-200 h-4 rounded-lg overflow-hidden">
          <div
            class="h-full w-7/12 bg-green-500 text-xs text-gray-500 text-center"
            style="width: 0"
            id="progress"
          ></div>
        </div>
      </div>
    </div>
    <script src="../js/sidebar.js"></script>
    <script src="../js/session.js"></script>
    <script src="../js/dashboard.js"></script>
    <script src="../js/file.js"></script>
  </body>
</html>
