<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.9.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
    <script src="https://unpkg.com/axios@1.13.2/dist/axios.min.js"></script>
  </head>
  <body>
    <div class="bg-gray-200 min-h-screen flex justify-center items-center">
      <div class="bg-white w-[420px] p-8 rounded-xl space-y-8">
        <div class="flex items-center gap-2 justify-center">
          <i class="ri-contrast-2-fill text-5xl text-violet-600"></i>
          <h1 class="text-3xl font-medium">Filemoon</h1>
        </div>
        <form class="w-full space-y-4" onsubmit="login(event)">
          <div class="space-y-1">
            <label class="text-gray-500 text-[17px] block">Email</label>
            <input
              name="email"
              class="w-full border border-gray-300 rounded p-3 outline-none"
              placeholder="example@gmail.com"
            />
          </div>
          <div class="space-y-1">
            <label class="text-gray-500 text-[17px] block">Password</label>
            <input
              name="password"
              class="w-full border border-gray-300 rounded p-3 outline-none"
              placeholder="********"
            />
          </div>
          <button
            type="submit"
            class="bg-violet-500 w-full p-3 rounded text-white font-medium hover:bg-violet-600"
          >
            Sign in
          </button>
        </form>
        <div class="flex items-center justify-center gap-2">
          <p class="text-gray-500">don't have an acount ?</p>
          <a href="./signup.html" class="text-green-500 font-medium">Signup</a>
        </div>
      </div>
    </div>
    <script src="./js/session.js"></script>
    <script src="./js/login.js"></script>
  </body>
</html>
